/* body{
  background-color: rgb(146, 222, 237);
}

h1 {
  margin: 32px 0;
  color: black;
  font-size: 80px;
}
.delete-icon{
  color: red;
}
.edit-icon{
  color: blue;
}
.todo-button{

}
.todo-input{

} */ 
.delete-icon{
  margin-right: 4px;
}
.icons {
  display: flex;
  flex-direction: row;
}

.todo-text{
  font-size: 20px;
  font-family: 'Hanalei Fill', cursive;
}
.todo-input{
  margin: 10px;
  padding: 5px;
  width: 370px;
  height: 50px;
}
.grad {
  background-image: linear-gradient(red, yellow);
}
.container{
  background-color:lightgoldenrodyellow;
}
